a {
    text-decoration: none !important;
}

p {
    display: block !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

.not-imple-p {
    text-align: center;
    opacity: 0.5;
}

header::before {
    content: " ";
    display: block;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #c51230;
}

header {

    margin: 0;
    padding-top: 0;
    padding-bottom: 0.5rem;
    text-align: justify;
    flex-direction: row;
    justify-content: space-around;
}

.head-container {

    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*important*/
    justify-content: space-around;
}

.button-page {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.button-page img {
    max-width: 20px;
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}

.avatar {
    max-width: 22px;
    border-radius: 50%;
    vertical-align: text-bottom;
}

.logo {
    height: 80px;
    border: 0;
}

.logo>img {
    height: 100%;
}

.name {
    font-family: "Catamaran";
    opacity: 1;
}

.shopping-cart {
    height: 80px;
    display: flex;
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ac2432;
    border-radius: 15%;
    font-size: xx-large;
    align-items: center;
    /*important*/
}


.shopping-cart:hover {
    color: white;
    transition: 0.5s;

}

.shopping-cart>img {
    height: 80%;
}

.head-link {
    font-family: "Open Sans";
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-style: solid;
    padding-top: 0.5rem;
    border-color: grey;
}

.head-link a {
    text-decoration: none;
    color: #c51230;
}

.head-link a::after {
    content: "";
    display: block;
    width: 0%;
    height: 4px;
    background-color: #c51230;
    transition: .4s .2s;
}

.head-link a:hover::after {
    width: 100%;
}

.not-imple {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}

.home-pic {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textbox-container {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.textbox {
    margin: 1rem;
    border-style: solid;
    border-width: 4px;
    border-color: #c51230;
    border-radius: 12px;
    padding: 0.8rem;
    color: grey;
}

.textbox h3 {
    text-decoration: none;
    color: #c51230;
}

footer {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #c51230;
    border: #c51230;
    font-family: "Open Sans";
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer>a:hover {
    color: aliceblue;
    opacity: 1.0;
    transition: 0.4s;
}

footer>a {
    color: aliceblue;
    opacity: 0.7;
    text-decoration: none;
}

footer>div {
    opacity: 0.9;
    color: aliceblue;
}

.shirt-item {
    padding: 0.5rem;
    text-align: center;
    border: #ac2432;
    border-style: solid;
    border-radius: 15px;
    margin: 0.5rem;
}

.shirt-item img {
    width: 200px;
}

.title {
    display: flex;
    justify-content: center;
}

.ava-color,
.amountbox-text {
    opacity: 0.5;
}

.sub-checkout {
    padding: 0.5rem;
    /* text-align: center; */
    border: #ac2432;
    border-style: solid;
    border-radius: 15px;
    margin: 0.5rem;
}

.detail-container {
    display: flex;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.cart-edit {
    margin-left: 1rem;
}

.amountbox {
    display: flex;
    justify-content: space-between;
}

.amountbox-price {
    text-align: right;
}

.detail-text {
    padding-left: 1rem;
}

.detail-selector-container {
    display: flex;
    margin-bottom: 12px;
    color: gray;
    align-items: center;
}

.side-btn {
    cursor: pointer;
    background-color: #c51230;
    color: rgb(207, 207, 207);
    font-family: "Open Sans";
    border-style: none;
    border-radius: 5px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding: 1px 6px 1px 6px;
    font-size: medium;
}

.cart-checkout-btn {
    cursor: pointer;
    background-color: #c51230;
    color: rgb(207, 207, 207);
    font-family: "Open Sans";
    border-style: none;
    border-radius: 5px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding: 10px 0.25rem 10px 0.25rem;
    font-size: medium;
    text-align: center;
}

.add-cart-btn,
.cart-remove-btn {
    cursor: pointer;
    background-color: #c51230;
    color: rgb(207, 207, 207);
    font-family: "Open Sans";
    border-style: none;
    border-radius: 5px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding: 1px 6px 1px 6px;
    font-size: larger;
    max-width: 115px;
}

.side-btn:hover,
.add-cart-btn:hover,
.cart-remove-btn:hover,
.cart-checkout-btn:hover {
    color: white;
}

.add-cart-btn:disabled,
.cart-remove-btn:disabled {
    cursor: default;
    background-color: #cf5b6e;
    color: rgb(207, 207, 207);
    font-family: "Open Sans";
    border-style: none;
    border-radius: 5px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding: 1px 6px 1px 6px;
    font-size: larger;
}

.color-btn {
    cursor: pointer;
    color: black;
    border-style: solid;
    font-family: "Open Sans";
    border-color: #ac2432;
    border-radius: 5px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding: 1px 6px 1px 6px;
    font-size: medium;
}

.light-color:hover {
    color: grey;
}

.oth-color:hover {
    color: white;
}

.cart-checkout {
    max-width: 40%;
    min-width: 20%;
}

.cart-list {
    width: 68%;
}

.cart-red-text {
    margin-left: 0.25rem;
    color: #ac2432;
}

.cart-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;
    border-top: #c51230 solid;
}

.cart-item-except-name {
    display: flex;
    /* width: 100%; */
}

.cart-item-text {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.cart-checkout-btn-container {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding: 10px 6px 10px 6px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.continue-div {
    margin: 2rem;
}

.total-text {
    font-weight: 500;
    font-size: larger;
}

#cart-empty {
    font-size: xx-large;
    opacity: 0.8;
}

#shirt-name,
#cart-name {
    display: flex;
    justify-content: center;
}

#shirt-price {
    color: #ac2432;
    font-size: x-large;
}

#shirt-description {
    color: #ac2432
}

.amountbox-price {
    color: #c51230
}

.cart-pic {
    /* width: 40%; */
    max-width: 250px;
    align-items: center;
    display: flex;
}

.detail-pic {
    max-width: 250px;
    min-width: 250px;
    align-items: center;
    display: flex;
}

.shirt-pic {
    /* max-width: 250px; */
    width: 100%;
}

#shirts-list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

#quick {
    display: none;
    background-color: rgb(207, 207, 207);
}

#quick>a {
    margin-top: 2rem;
}